.multiple-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;

    .form {
        border: solid 1px grey;
        padding: 16px;

        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        > input {
            margin: 8px 0px;
        }

        > button {
            width: 142px;
            margin: 8px 0px;
        }
    }

    .results {
        margin-left: 16px;
        border: solid 1px grey;
        padding: 16px;

        width: 25%;
    }
}
